$theme__1: (
  // Theme 1 bgs
  "main__bg": hsl(222, 26%, 31%),
  "toggle__and__keypad__bg": hsl(223, 31%, 20%),
  "screen__bg": hsl(224, 36%, 15%),
  // Theme 1 keys
  "delete__and__reset__bg": hsl(225, 21%, 49%),
  "delete__and__reset__shadow": hsl(224, 28%, 35%),
  "equal__bg": hsl(6, 63%, 50%),
  "equal__shadow": hsl(6, 70%, 34%),
  "equal__delete__and__reset__text": hsl(0, 0%, 100%),
  "numbers__bg": hsl(30, 25%, 89%),
  "numbers__shadow": hsl(28, 16%, 65%),
  "numbers__text": hsl(221, 14%, 31%)
);

$theme__2: (
  // Theme 2 bgs
  "main__bg": hsl(0, 0%, 90%),
  "toggle__and__keypad__bg": hsl(0, 5%, 81%),
  "screen__bg": hsl(0, 0%, 93%),
  // Theme 2 keys
  "delete__and__reset__bg": hsl(185, 42%, 37%),
  "delete__and__reset__shadow": hsl(185, 58%, 25%),
  "equal__bg": hsl(25, 98%, 40%),
  "equal__shadow": hsl(25, 99%, 27%),
  "equal__delete__and__reset__text": hsl(0, 0%, 100%),
  "numbers__bg": hsl(30, 25%, 89%),
  "numbers__shadow": hsl(28, 16%, 65%),
  "numbers__text": hsl(221, 14%, 31%)
);

$theme__3: (
  // Theme 3 bgs
  "main__bg": hsl(268, 75%, 9%),
  "toggle__and__keypad__bg": hsl(268, 71%, 12%),
  "screen__bg": hsl(268, 71%, 12%),
  // Theme 3 keys
  "delete__and__reset__bg": hsl(281, 89%, 26%),
  "delete__and__reset__shadow": hsl(285, 91%, 52%),
  "equal__bg": hsl(176, 100%, 44%),
  "equal__shadow": hsl(177, 92%, 70%),
  "delete__and__reset__text": hsl(0, 0%, 100%),
  "equal__text": hsl(198, 20%, 13%),
  "numbers__bg": hsl(268, 47%, 21%),
  "numbers__shadow": hsl(290, 70%, 36%),
  "numbers__text": hsl(52, 100%, 62%)
);
